/* commented backslash hack for ie5mac \*/ 
html, body{
  height:100%;
  font-size:1em;
} 
/* end hack */
div#center_box {
width:550px;
height:240px;
position: absolute;
left: 50%;
top: 50%;
margin-top: -120px;
margin-left: -300px;
}
div#center_box img {
  position:absolute;
}
div#center_box >div {
  vertical-align:bottom;
  height:220px;
  margin-left:245px;
  position:absolute;
  font-size:1.5em;
}
div#center_box >div >div {
  margin-bottom:20px;
}

