div#contact_information {
  position:absolute;
  bottom:10px;
  right:10px;
  font-size: .75em;
}
div#contact_information h2 {
  font-size: 1.2em;
}

div#tripit-badge {
  position:absolute;
  bottom:10px;
  left:10px;
}

